@model PAWS_NDV_PetLovers.Models.Records.Owner

@{
    ViewData["Title"] = "Create";
}
<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h1>Create New Owner</h1>
    </div>
</div>

<div class="container">
    <form method="post" asp-action="Create">
        <div class="card">
            <div class="owner">
                @* Owner *@
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="fname" class="control-label"></label>
                        <input asp-for="fname" class="form-control bg-light" />
                        <span asp-validation-for="fname" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="lname" class="control-label"></label>
                        <input asp-for="lname" class="form-control bg-light" />
                        <span asp-validation-for="lname" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="mname" class="control-label"></label>
                        <input asp-for="mname" class="form-control bg-light" />
                        <span asp-validation-for="mname" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="gender" class="control-label"></label>
                        <select asp-for="gender" class="form-control bg-light">
                            <option value="" selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="contact" class="control-label"></label>
                        <input asp-for="contact" class="form-control bg-light" />
                        <span asp-validation-for="contact" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="email" class="control-label"></label>
                        <input asp-for="email" class="form-control bg-light" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-4 col-sm-12">
                        <label asp-for="address" class="control-label"></label>
                        <input asp-for="address" class="form-control bg-light" />
                        <span asp-validation-for="address" class="text-danger"></span>
                    </div>


                    <div class="form-group col-md-4 col-sm-12 visually-hidden">
                        <label asp-for="registeredDate" class="control-label"></label>
                        <input asp-for="registeredDate" class="form-control bg-light" readonly/>
                    
                    </div>
                </div>
            </div>

            @* Pets *@
            <div class="bg-secondary bg-opacity-10 py-2 my-3">
                <div class="container">
                    <h1>Pets</h1>
                </div>
            </div>
            @* table *@
            <table id="PetTable" class="table table-striped">
                <thead>
                    <tr>
                        <th><p style="margin:0;">Pet Name</p></th>
                        <th><p style="margin:0;">Gender</p></th>
                        <th><p style="margin:0;">Specie</p></th>
                        <th><p style="margin:0;">Breed</p></th>
                        <th><p style="margin:0;">Birth date</p></th>
                        <th><p style="margin:0;">Age</p></th>
                        <th><p style="margin:0;">Color</p></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="detailRow">
                        <div class="row">
                            <td class="col-2">
                                <input name="Pets[0].petName" class="form-control " required placeholder="Enter Pet Name" />
                            </td>

                             <td class="col-1">
                                <select name="Pets[0].gender" class="form-control bg-light" required>
                                    <option value="" selected hidden>----</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </td>

                            <td class="col-1">
                                <select name="Pets[0].species" class="form-control bg-light" required>
                                    <option value="" selected hidden>----</option>
                                    <option value="Dog">Dog</option>
                                    <option value="Cat">Cat</option>
                                </select>
                            </td>
                            <td class="col-2">
                                <input name="Pets[0].breed" class="form-control bg-light" required />
                            </td>
                            <td class="col-1">
                            <input name="Pets[0].bdate" class="form-control bg-light birthdate" type="date" required />
                            </td>
                            <td class="text-center">
                                <input name="Pets[0].age" class="form-control bg-light age" type="text" readonly />
                            </td>
                            <td>
                                <input name="Pets[0].color" class="form-control bg-light" required />
                            </td>
                            <td>
                            <input type="date" name="Pets[0].registeredDate" class="form-control bg-light maxDate" id="dateInput" hidden readonly />
                            </td>
                            <td class="col-1">
                                <button type="button" class="btn btn-danger removeRow">Remove</button>
                            </td>   
                        </div>
                    </tr>
                </tbody>
     
            </table>

            <div class="p-2">
                <button type="button" class="btn btn-success" id="addRow">Add Row</button>

            </div>

        </div>


        <div class="form-group row d-flex justify-content-end mt-4">
            <input type="submit" value="Create" class="btn btn-primary col-3" />
            <a asp-action="Index" class="btn btn-secondary ms-3 col-2">Cancel</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
