@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm
@{
    ViewData["Title"] = "Billing Dashboard";
}

<div class="bg-secondary bg-opacity-10 mb-3 py-2">
    <div class="container">
        <h3>Billing Dashboard</h3>
    </div>
</div>

<div class="container">

    <ul class="nav nab-bar">
        <li >
            <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="Diagnostics" asp-controller="BillingDashboard" class="@(Model.activeTab == PAWS_NDV_PetLovers.ViewModels.Tab.Diagnostics ? "active" : string.Empty)  btn btn-outline-primary">Diagnostics</a>
        </li>
         
        <li>
            <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="Purchase" asp-controller="BillingDashboard" class="@(Model.activeTab == PAWS_NDV_PetLovers.ViewModels.Tab.Purchase ? "active" : string.Empty) btn btn-outline-primary">Purchase</a>

        </li>
        <li>
            <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="Billing" asp-controller="BillingDashboard" class="@(Model.activeTab == PAWS_NDV_PetLovers.ViewModels.Tab.Billing ? "active" : string.Empty) btn btn-outline-primary ">Billing</a>

        </li>
     
    </ul>


    @switch (Model.activeTab)
    {
        case PAWS_NDV_PetLovers.ViewModels.Tab.Diagnostics:
            @await Component.InvokeAsync("Diagnostics")
        break;

        case PAWS_NDV_PetLovers.ViewModels.Tab.Purchase:
         @await Component.InvokeAsync("Purchase")
        break;

        case PAWS_NDV_PetLovers.ViewModels.Tab.Billing:
          @await Component.InvokeAsync("Billing")
        break;

        default:
            @await Component.InvokeAsync("Diagnostics")
        break;
    }

    
</div>



