@model IEnumerable<PAWS_NDV_PetLovers.Models.Records.Services>
@{
    ViewData["Title"] = "Void Services";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h3> Void Services</h3>
    </div>
</div>

<div class="container">
    <a class="btn btn-primary px-4" asp-action="Index">Back</a>

            <table class="table hover " id="VoidServicesTable">
                <thead>
                    <tr>
                        <th class="text-center">Service ID</th>
                        <th class="text-center">Service Name</th>
                        <th class="text-center">Service Charge</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Where(s => !string.IsNullOrEmpty(s.status)))
                    {
                        <tr>
                            <td class="text-center">@item.serviceId</td>
                            <td class="text-center">@item.serviceName</td>
                            <td class="text-center">@item.serviceCharge</td>
                        </tr>
                    }

                </tbody>
            </table>
</div>
<script src="~/js/RecordsDataTables/ServicesTable.js" defer></script>