@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm
@{
    ViewData["Title"] = "Billing History -> ALL TRANSACTION HISTORY";
}
<div class="bg-secondary bg-opacity-10 mb-3 py-2">
    <div class="container">
        <h3>Transaction History</h3>
    </div>
</div>

<div class="container">
   <ul class="nav">
        <li><a role="presentation" asp-action="SwitchToHistoryTab" asp-route-tabName="All" class="@(Model.activeHistoryTab == PAWS_NDV_PetLovers.ViewModels.BillingHistoryTab.All ? "active" : string.Empty) btn btn-outline-success">All</a></li>
        <li><a role="presentation" asp-action="SwitchToHistoryTab" asp-route-tabName="Diagnostics" class="@(Model.activeHistoryTab == PAWS_NDV_PetLovers.ViewModels.BillingHistoryTab.Diagnostics ? "active" : string.Empty) btn btn-outline-success">Diagnostics</a></li>
        <li><a role="presentation" asp-action="SwitchToHistoryTab" asp-route-tabName="Purchase" class="@(Model.activeHistoryTab == PAWS_NDV_PetLovers.ViewModels.BillingHistoryTab.Purchase ? "active" : string.Empty) btn btn-outline-success">Purchase</a></li>
    </ul>
</div>


<div class="container">

    @switch (Model.activeHistoryTab)
    {
        case PAWS_NDV_PetLovers.ViewModels.BillingHistoryTab.All:
            @await Component.InvokeAsync("AllBillingHistory")
            break;

        case PAWS_NDV_PetLovers.ViewModels.BillingHistoryTab.Diagnostics:
            @await Component.InvokeAsync("DiagnosticBillingHistory")
            break;

        case PAWS_NDV_PetLovers.ViewModels.BillingHistoryTab.Purchase:
            @await Component.InvokeAsync("PurchaseBillingHistory")
            break;
        
        default:
            @await Component.InvokeAsync("AllBillingHistory")
            break;
    }
</div>
