@model PAWS_NDV_PetLovers.ViewModels.UserAccountVm
@{
    ViewData["Title"] = "Account Index";
}
<!-- Alert Placeholder -->
@if (TempData["Message"] != null)
{
    //utilize bootstrap, not for modal
    <div id="success-alert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="bg-custom-color">
    <div class="container">
        <h1>Account</h1>
    </div>
</div>

<div class="container mt-2">
    <ul class="nav">
        <li>
            <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="accountList" class="@(Model.activeAccountTab == PAWS_NDV_PetLovers.ViewModels.AccountTab.accountList ? "active" : string.Empty) btn btn-outline-success ">Account List</a>
        </li>

        <li>
            <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="createStaff" class="@(Model.activeAccountTab == PAWS_NDV_PetLovers.ViewModels.AccountTab.createStaff ? "active" : string.Empty) btn btn-outline-success">Create New Staff</a>
        </li>
        

    </ul>
</div>

@switch (Model.activeAccountTab)
{
    case PAWS_NDV_PetLovers.ViewModels.AccountTab.accountList:
        @await Component.InvokeAsync("AccountList")
        break;

    case PAWS_NDV_PetLovers.ViewModels.AccountTab.createStaff:
        @await Component.InvokeAsync("CreateStaff", new {vm = Model})
        break;
}