@model PAWS_NDV_PetLovers.ViewModels.UserAccountVm
@{
    ViewData["Title"] = "Account Index";
}





<div class="container p-0 bg container-bord">
    <div class="container p-0">
        <div class="container p-0 bg-custom-color">
            <div>
                <div class="container p-2">
                    <h1>Account</h1>
                </div>
            </div>
        </div>

        <div class="btn-group btn-group-toggle pt-4 mx-3" data-toggle="buttons">
            
                
                    <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="accountList" class="@(Model.activeAccountTab == PAWS_NDV_PetLovers.ViewModels.AccountTab.accountList ? "active" : string.Empty) btn btn-success ">Account List</a>
                

                
                    <a role="presentation" asp-action="SwitchToTab" asp-route-tabName="createStaff" class="@(Model.activeAccountTab == PAWS_NDV_PetLovers.ViewModels.AccountTab.createStaff ? "active" : string.Empty) btn btn-success">Create New Staff</a>
                
        </div>

        @switch (Model.activeAccountTab)
        {
            case PAWS_NDV_PetLovers.ViewModels.AccountTab.accountList:
                @await Component.InvokeAsync("AccountList")
                break;

            case PAWS_NDV_PetLovers.ViewModels.AccountTab.createStaff:
                @await Component.InvokeAsync("CreateStaff", new { vm = Model })
                break;
        }

    </div>
</div>


   