

/* Buttons - EDIT */

.button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white; /* Optional: Background to make sure it doesn’t overlap */
    padding: 10px; /* Adjust padding as needed */
    text-align: right;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: To give it a shadow effect */
}



/* FOR ADDING Total Payment - Diagnostics */
.fixed-right-Payment {
    position: fixed;
    right: 20px;
    bottom: 0px;
    background-color: rgba(108, 117, 125, 0.1); /* Example color with opacity */
    width: 14%;
    z-index: 1000; /* Ensure it is above other elements */
    padding: 1rem; /* Optional: Adjust padding as needed */
}


/* Make the total payment div stick to the top of the viewport */
.stickOnTop {
    position: sticky;
    top: 0; /* Adjust this value if needed */
    background-color: #fff; /* Ensure background color is set to cover content behind it */
    z-index: 1000; /* Adjust z-index to ensure it's on top of other content */
    border-top: 2px solid #000; /* Optional: Add a border for better visibility */
    padding-top: 1em; /* Optional: Add padding for spacing */
}


#alertPlaceholder, #success-alert {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
    width: 300px; /* Example width */
}


/* BOOTSTRAP NAVBAR */
.nav-link {
    color: white;
    cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Custom padding when navbar is collapsed */
@media (max-width: 991.98px) {
    .navbar-collapse .custom-padding {
        padding-left: 1rem; /* Adjust the padding as needed */
    }
}  

/*DEFAULT CSS*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}*/






/*NJ CSS SIDEBAR*/

/*TAG ALL AREA*/
button {
    border-color: transparent;
}

body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

/*6/10/24*/
html {
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}


/*END TAG ALL AREA*/


/*CLASS AREA*/



.navbar {
    border-bottom: 1px solid #ffffff;
    display: flex;
    background-color: #469387;
}

.fa-bars {
    padding: 5px;
}


.mb-2 {
    cursor: pointer;
}


.content {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }


.nav-link {
    display: flex;
    align-items: center;
    padding: .25rem .5rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
}



.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

/*FOR SUB MENU */
.btn-toggle-nav a {
    padding: .1875rem .5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
}

.btn-toggle-nav :hover {
    color: black;
    background-color: #efc65de8;
    transition: 0.1s;
}

.link-l[aria-expanded="true"],
.link-l:active,
.link-l:focus {
    background-color: #efc65de8;
    color: black;
}


.nav-link:hover {
    background-color: #efc65de8;
    color:black;
    border-radius: 10px;
    transition: 0.2s;
}



.nav-link[aria-expanded="true"] {
    background-color: #efc65de8;
    color: black;
    border-radius: 10px 10px 0 0;
}


/*FOR SOLO MENU*/
.solo-link.active {
    background-color: #efc65de8;
    color: black;
    border-radius: 10px;
}




.content {
    transition: margin-left 0.3s ease;
}

.content-expanded {
    margin-left: 1px;
}




/* Rotate Icon when Expanded */
.rotate-icon {
    transition: transform 0.3s ease;
    margin-left: auto;
    margin-right: 0;
}

[aria-expanded="true"] .rotate-icon {
    transform: rotate(90deg);
}
/*END Rotate Icon when Expanded */

/* Custom styles */

.nav {
    display: flex;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
    color: #469387;
}

.tab-pane {
    border: 1px solid #469387;
    border-radius: 5px;
}

.card {
    border-color: transparent;
}



.dropdown-item:hover {
    background: #ebc25ce8;
    color: black;
}

.dropdown-menu {
    background: #469387;
    border: 1px solid #ffffff;
}

.dropdown-divider {
    border: 0.5px solid #ffffff;
}

.dropdown-item {
    color: #ffffff;
}


.header-box {
    margin-top: 10px;
}

/*APPOINTMENTS AREA*/

/*feild color*/
.form-control {
    border: 1px solid #469387;
}

/*padding of field*/
#apppad {
    padding-top: 20px;
}

.btn-addrow,
.btn-addrow.active,
.btn-addrow.focus {
    background-color: #efc65de8;
    border-color: black;
}

    .btn-addrow:hover {
        background-color: #ebc25ce8;
    }

.row-appointments {
    margin-left: 5px;
    margin-right: 5px;
}

#headapp {
    background: #c0d1ce;
    border-bottom: 1px solid #469387;
}

#exrecord {
    background-color: rgba(70, 147, 135, 0.575);
}

.bg {
    background-color: rgba(70, 147, 135, 0.2); /* 70% opacity */
    border-bottom: 2px solid #469387;
}

.bg-pets {
    border-top: 1px solid #469387;
    background-color: rgba(70, 147, 135, 0.2);
}

.container-appointments {
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #469387;
    padding: 10px;
}


/*APPOINTMENTS AREA END*/



/*END CLASS AREA*/


/*ID AREA*/

/*FOR SUBMENU*/
#appointment-collapse,
#recordmanagement-collapse,
#service-collapse,
#transaction-collapse,
#reports-collapse,
#account-collapse {
    background-color: #332d1d56;
    border-radius: 0 0 10px 10px;
    transition: 0.2s ease;
}
/*END FOR SUBMENU*/

#sidebarscollapse {
    color: black;
    background-color: transparent;
    border-color: transparent;
}


/* Sidebar Styling & Transistion */
#sidebar {
    width: 270px;
    padding: 15px;
    overflow-y: auto;
}

    #sidebar.hidden {
        width: 0px;
        padding: 0;
        border-right: 0;
        overflow: hidden;
    }
/*END Sidebar Styling & Transistion */

/*ICON ADJUST Size*/
#icon {
    width: 20px;
    height: 20px;
}

/*SIDEBAR BORDER & BG COLOR*/
#sidebar {
    background: #469387;
    border-right: 1px solid #ffffff;
    /* height: 100vh;*/
    /*overflow: auto;*/
}


#subbody {
    border-left: 2px solid #469387;
   
}

/* Hover state */
#diagnostics-tab,
#purchase-tab,
#billing-tab {
    background-color: #469387; /* Slightly darker gray on hover */
    color: white; /* Darker text color */
    margin-right: 5px;
    border-radius: 10px;
}

    #diagnostics-tab.active,
    #purchase-tab.active,
    #billing-tab.active {
        background-color: #efc65de8 !important; /* Bootstrap's primary blue color */
        color: black !important; /* White text on active */
        border-color: #efc65de8 !important; /* Same blue border */
        border-radius: 10px 10px 0 0;
    }


#serviceTabs {
    border-bottom: 1px solid #469387;
}

#cardgt {
    border: 1px solid #469387;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
}

#bordertop {
    margin-top: 35px;
}


/*END ID AREA*/


/* Mobile styles */
@media (max-width: 768px) {
    #sidebar {
        display: none; /* Hide sidebar on mobile */
    }
}


/* Tablet and larger styles */
@media (min-width: 769px) {
    #sidebar {
        display: block; /* Show sidebar on larger screens */
    }
}
