

/* Buttons - EDIT */

.button-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white; /* Optional: Background to make sure it doesn’t overlap */
    padding: 10px; /* Adjust padding as needed */
    text-align: right;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: To give it a shadow effect */
}



/* FOR ADDING Total Payment - Diagnostics */
.fixed-right-Payment {
    position: fixed;
    right: 20px;
    bottom: 0px;
    background-color: rgba(108, 117, 125, 0.1); /* Example color with opacity */
    width: 14%;
    z-index: 1000; /* Ensure it is above other elements */
    padding: 1rem; /* Optional: Adjust padding as needed */
}


/* Make the total payment div stick to the top of the viewport */
.stickOnTop {
    position: sticky;
    top: 0; /* Adjust this value if needed */
    background-color: #fff; /* Ensure background color is set to cover content behind it */
    z-index: 1000; /* Adjust z-index to ensure it's on top of other content */
    border-top: 2px solid #000; /* Optional: Add a border for better visibility */
    padding-top: 1em; /* Optional: Add padding for spacing */
}


#alertPlaceholder, #success-alert {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure it's above other content */
    width: 300px; /* Example width */
}


/* BOOTSTRAP NAVBAR */
.nav-link {
    color: white;
    cursor: pointer;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Custom padding when navbar is collapsed */
@media (max-width: 991.98px) {
    .navbar-collapse .custom-padding {
        padding-left: 1rem; /* Adjust the padding as needed */
    }
}  

/*DEFAULT CSS*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
 