@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm

@{
    ViewData["Title"] = "Diagnostics VC";
}

<div class="container">
    <table class="table table-striped" id="diagnosticTable">
        <thead>
            <tr>
                <th>Services</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Diagnostics.IdiagnosticDetails)
            {
                <tr>
                 <td>@item.Services.serviceName</td>
                </tr>
            }
        </tbody>
    </table>
</div>