@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm

@{
    ViewData["Title"] = "Diagnostics VC";
}

<div class="container">
    <table class="table" id="diagnosticTable">
        <thead>
            <tr>
                <th>Services</th>
                @if (Context.Session.GetString("UserRole") == "Admin")
                {
                     <th>Details</th>
                    <th class="text-end">
                        <a asp-action="EditDetails" name="" asp-route-id="@Model.Diagnostics.diagnostic_Id" asp-controller="Billing" class="btn btn-update px-3">Edit Details</a>
                    </th>
                }
                
            </tr>
        </thead>
        <tbody>

           
                @foreach (var item in Model.Diagnostics.IdiagnosticDetails)
                {
                     <tr>
                            <td>@item.Services.serviceName</td>
                        @if (Context.Session.GetString("UserRole") == "Admin")
                        {
                            <td>
                                <textarea class="form-control bg-light" rows="5" style="resize: none;" readonly>@item.details</textarea>
                            </td>
                        }
                     </tr>
               
                 }
          
        </tbody>
    </table>
</div>