@model PAWS_NDV_PetLovers.ViewModels.TransactionsVm

@{
    ViewData["Title"] = "Diagnostics VC";
}

<div class="container">
    <table class="table table-striped" id="diagnosticTable">
        <thead>
            <tr>
                <th>Services</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Diagnostics.IdiagnosticDetails)
            {
                <tr>
                    <td>@item.Services.serviceName</td>

                    <td> 
                        <textarea class="form-control bg-light" rows="5" style="resize: none;" readonly>@item.details</textarea>
                    </td>
                    
                    <td>
                        <a asp-action="EditDetails" name="" asp-route-id="@item.diagnosticsId" asp-controller="Billing" class="btn btn-outline-primary px-3">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>