@model PAWS_NDV_PetLovers.Models.Records.Product
@{
    ViewData["Title"] = "Create";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-3">
    <div class="container">
        <h1>Create Product</h1>
    </div>
</div>